__CFBundleIdentifier=com.apple.Terminal TMPDIR=/var/folders/z0/n_xc199d4hg7r7_s4f1_k__r0000gn/T/ XPC_FLAGS=0x0 LaunchInstanceID=D78221CF-4214-43A3-9AD2-02388EF8B48F TERM=xterm-256color SSH_AUTH_SOCK=/private/tmp/com.apple.launchd.3zWVH4jgPy/Listeners SECURITYSESSIONID=186a5 XPC_SERVICE_NAME=0 TERM_PROGRAM=Apple_Terminal TERM_PROGRAM_VERSION=445 TERM_SESSION_ID=803BB473-371A-4E14-8254-AC4AD9D555BC SHELL=/bin/zsh HOME=/Users/nguyenan LOGNAME=nguyenan USER=nguyenan PATH=/Users/nguyenan/anaconda3/bin:/Users/nguyenan/anaconda3/condabin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/usr/local/go/bin SHLVL=1 PWD=/Users/nguyenan/Documents/python_cham_cheetsheet OLDPWD=/Users/nguyenan CONDA_EXE=/Users/nguyenan/anaconda3/bin/conda _CE_M= _CE_CONDA= CONDA_PYTHON_EXE=/Users/nguyenan/anaconda3/bin/python CONDA_SHLVL=1 CONDA_PREFIX=/Users/nguyenan/anaconda3 CONDA_DEFAULT_ENV=base CONDA_PROMPT_MODIFIER=(base) PS1=(base) %n@%m %1~ %# LC_CTYPE=UTF-8 _=/usr/bin/env
